body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
.site {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	header.site-header {
		height: 70px;
		background-color: #fff;
		border-bottom: 2px solid #c3c3c3;
		box-shadow: 1px 0px 10px #222;
		display: flex;
		align-items: center;
		padding-right: 10%;
		padding-left: 10%;
		.site-branding {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: start;
			p {
				
				padding: 0 10px 0 0;

			}
		}
		.main-navigation {
			display: flex !important;
			flex-direction: row;
			justify-content: flex-end;
			ul.nav-menu {
				li {
					margin-right: 15px;
				}
			}
		}
	}
	main.site-main  {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	aside.widget-area {
		border-top: 1px solid #c3c3c3;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		section.widget_block {
			width: 25%;
			padding: 15px;
			ul {
				margin-left: 0 !important;
				padding-left: 0 !important;
				list-style: none !important;
				li {
					list-style: none;
				}
			}
		}
		
	}
	footer.site-footer {
		background-color: #222;
		color: #fff;
		display: flex;
		justify-content: center;
		padding: 30px 10%;
		margin-top: auto;
	}
}
